absl-py==0.10.0
appdirs==1.4.4
apturl==0.5.2
argon2-cffi==20.1.0
asn1crypto==0.24.0
astor==0.8.1
astunparse==1.6.3
async-generator==1.10
attrs==20.3.0
backcall==0.2.0
bleach==3.3.0
Brlapi==0.6.6
CacheControl==0.12.6
cached-property==1.5.2
cachetools==4.1.1
cachy==0.3.0
catfish==1.4.4
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cleo==0.8.1
click==8.0.3
clikit==0.6.2
cloudpickle==1.3.0
colorama==0.4.4
command-not-found==0.3
configparser==5.0.2
crashtest==0.3.1
cryptography==2.1.4
cupshelpers==1.0
cycler==0.10.0
Cython==0.29.21
dataclasses==0.8
decorator==4.4.2
deepdiff==5.2.2
defer==1.0.6
defusedxml==0.7.1
distlib==0.3.2
distro-info==0.18
docker-pycreds==0.4.0
docopt==0.6.2
entrypoints==0.3
enum34==1.1.10
fail2ban==0.10.2
fasteners==0.15
filelock==3.0.12
flatbuffers==1.12
future==0.18.2
gast==0.3.3
gfootball==2.10.1
gitdb==4.0.5
GitPython==3.1.11
glfw==1.12.0
google-auth==1.20.1
google-auth-oauthlib==0.4.1
google-pasta==0.2.0
grpcio==1.32.0
gym==0.18.0
gym-fetch-stack==1.0
gym-foo==0.0.1
h5py==2.10.0
html5lib==1.1
httplib2==0.9.2
idna==2.6
imageio==2.9.0
importlib-metadata==1.7.0
importlib-resources==5.2.0
ipdb==0.11
ipykernel==5.5.3
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
jedi==0.18.0
jeepney==0.6.0
Jinja2==2.11.3
joblib==1.1.0
jsonpickle==1.4.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.2.0
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==21.8.0
keyrings.alt==3.0
kiwisolver==1.2.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
lightdm-gtk-greeter-settings==1.2.2
lockfile==0.12.2
louis==3.5.0
macaroonbakery==1.1.3
Mako==1.0.7
mappo-grf==0.1.0
Markdown==3.2.2
MarkupSafe==1.0
matplotlib==3.3.1
menulibre==2.2.0
mistune==0.8.4
mock==4.0.3
monotonic==1.5
mpyq==0.2.5
msgpack==1.0.2
mugshot==0.4.0
mujoco-py==2.1.2.14
multiagent==0.0.1
munch==2.5.0
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.5
notebook==6.3.0
numpy==1.19.5
numpy-stl==2.13.1
oauth==1.0.1
oauthlib==3.1.0
olefile==0.45.1
onboard==1.4.1
onpolicy==0.1.0
opencv-python==4.4.0.44
opt-einsum==3.3.0
ordered-set==4.0.2
packaging==20.4
panda-gym==2.0.0
pandas==1.1.1
pandocfilters==1.4.3
parso==0.8.1
pastel==0.2.1
pathtools==0.1.2
pbr==5.4.5
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pip==21.3.1
pipreqs==0.4.11
pkginfo==1.7.0
poetry==1.1.7
poetry-core==1.0.3
portpicker==1.3.1
prometheus-client==0.10.1
promise==2.3
prompt-toolkit==3.0.10
protobuf==3.13.0
psutil==5.4.2
ptyprocess==0.7.0
py-cpuinfo==7.0.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pybullet==3.2.5
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pycurl==7.43.0.1
pygame==1.9.6
pyglet==1.4.0
Pygments==2.7.3
PyGObject==3.26.1
pyinotify==0.9.6
pylev==1.4.0
pymacaroons==0.13.0
PyNaCl==1.1.2
pyparsing==2.4.7
pyRFC3339==1.0
pyrsistent==0.17.3
PySC2==3.0.0
python-apt==1.6.0
python-dateutil==2.8.1
python-debian==0.1.32
python-debianbts==2.7.2
python-magic==0.4.16
python-utils==2.4.0
pytz==2018.3
pyxdg==0.25
PyYAML==5.3.1
pyzmq==22.0.3
qtconsole==5.0.3
QtPy==1.9.0
reportlab==3.4.0
requests==2.24.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
requests-unixsocket==0.1.5
RLkit==0.2.0
robotic-warehouse==0.0.1
rsa==4.6
s2clientprotocol==5.0.5.82893.0
s2protocol==5.0.5.82893.0
sacred==0.8.1
scikit-learn==0.24.2
scipy==1.5.2
seaborn==0.10.1
SecretStorage==3.3.1
Send2Trash==1.5.0
sentry-sdk==1.4.3
setproctitle==1.2.2
setuptools==51.1.2
sgt-launcher==0.2.4
shellingham==1.4.0
shortuuid==1.0.1
simplejson==3.13.2
six==1.15.0
sk-video==1.1.10
sklearn==0.0
SMAC==1.0.0
smmap==3.0.4
ssh-import-id==5.7
stable-baselines3==0.10.0
subprocess32==3.5.4
system-service==0.3
systemd-python==234
tensorboard==2.4.0
tensorboard-logger==0.1.0
tensorboard-plugin-wit==1.7.0
tensorboardX==2.1
tensorflow==2.4.0
tensorflow-estimator==2.4.0
termcolor==1.1.0
terminado==0.9.4
testpath==0.4.4
testresources==2.0.1
threadpoolctl==3.1.0
tomlkit==0.7.2
torch==1.6.0
torchvision==0.7.0
tornado==6.1
tqdm==4.56.0
traitlets==4.3.3
transppo==0.1.0
transppo-mlp==0.1.0
transppo-state==0.1.0
transppo-withmujoco-sep==0.1.0
typing-extensions==3.7.4.3
ubuntu-drivers-common==0.0.0
ufw==0.35
unattended-upgrades==0.1
urllib3==1.22
usb-creator==0.3.3
virtualenv==20.4.7
wadllib==1.3.2
wandb==0.12.5
wcwidth==0.2.5
webencodings==0.5.1
websocket-client==0.57.0
Werkzeug==1.0.1
wheel==0.36.2
whichcraft==0.6.1
widgetsnbextension==3.5.1
wrapt==1.12.1
xcffib==0.5.1
xkit==0.0.0
yarg==0.1.9
yaspin==2.1.0
zipp==3.1.0
zope.interface==4.3.2
